@import url(https://fonts.googleapis.com/css?family=Libre+Franklin);@import url(https://fonts.googleapis.com/css?family=Poppins:100,500,600,700,800);@import url(https://fonts.googleapis.com/css?family=Gaegu);/* chart style */
svg {
  z-index: 1; }

#canva-1-countries {
  /*background-color: #d8edf3;*/
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAALklEQVQYlWNgIBe8+Pnn/4uff/4TpQivYnRFWBXjUoSimJBVcDmCDocqJqQGDgBdnWg122kqUAAAAABJRU5ErkJggg==) repeat; }

canvas {
  position: absolute; }

.scrolly {
  max-width: 60rem;
  margin: 1rem auto;
  /* background-color: #f4f4f4; */
  padding: 1rem;
  justify-content: center;
  align-items: center; }

.scrolly article {
  padding: 0;
  max-width: 30rem;
  margin: 0 auto;
  position: relative;
  /* pointer-events: none; */ }

.pointer-disabled {
  pointer-events: none; }

.scrolly article .step {
  min-height: 67vh;
  margin-bottom: 1rem;
  width: 30vh;
  margin: auto; }

.scrolly article .step:last-of-type {
  margin-bottom: 0; }

.scrolly article .step p {
  margin: 0;
  padding: 1rem;
  border-radius: 2px;
  box-shadow: 2px 2px 2px 2px #e6e6e6;
  text-align: center;
  background-color: white;
  color: black; }

.scrolly figure.sticky {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  /*height: 50vh; */
  /*Height of the figure zone */
  background: white;
  margin: 0;
  top: 5vh;
  /* Graph position from the bottom */
  left: 0;
  border-style: solid;
  border-width: 4px;
  border-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center; }
html {
  font-size: 100%; }
  @media only screen and (max-device-width: 480px) {
    html {
      font-size: 120%; } }

body {
  font-family: 'Libre Franklin', serif;
  margin: 0; }

h1 {
  font-family: 'Poppins', serif;
  font-weight: 700; }

h2 {
  font-family: 'Poppins', serif;
  font-weight: 600; }

/* header style */
img.logo {
  max-width: 7rem; }

.header {
  /*margin-top: 30px;
	margin-bottom: 20px;*/
  margin-top: 2rem;
  margin-bottom: 1rem; }

.footer {
  margin-top: 3rem; }

.footer p {
  color: grey;
  font-family: 'Poppins', serif;
  font-size: 1rem; }

/* title style */
h1 {
  /*font-size: 70px;*/
  font-size: 4rem;
  color: white;
  text-shadow: 2px 2px #404040;
  margin-bottom: 0; }

h3 {
  font-family: 'Gaegu', serif;
  /*font-size: 40px;*/
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  text-shadow: 2px 2px grey;
  color: white; }

.img-container {
  background-image: url(img/93b883cba85591b9e7964073d930e266-head.png);
  background-repeat: repeat-x; }

.img-container-fullwidth {
  width: 100%;
  background-image: url(img/93b883cba85591b9e7964073d930e266-head.png);
  background-repeat: repeat-x; }

.title {
  position: relative; }

.title-text {
  position: absolute;
  bottom: 0; }

.video {
  position: relative;
  width: 50rem;
  height: auto;
  z-index: -100;
  margin-top: 2rem; }

.img-content {
  width: 40rem;
  height: auto; }

/* content style */
.before-subtile {
  height: .7rem;
  width: 9rem;
  background-color: #ffec00;
  margin-top: 4rem; }

h2 {
  /* font-size: 30px; */
  font-size: 2.2rem;
  margin-top: .1rem;
  margin-bottom: 1rem; }

.wrapper {
  /* Firefox */
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  /* Safari and Chrome */
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  /* W3C */
  display: box;
  box-pack: center;
  box-align: center; }

.title-column {
  line-height: 0.9;
  max-width: 23rem;
  margin-left: 1.4rem; }

.subtitle-column {
  max-width: 40rem;
  margin-left: 1.4rem; }

.base-column {
  /*max-width: 600px;*/
  max-width: 40rem;
  /*margin-left: 25px;
	margin-right: 25px;*/
  margin-left: 1.4rem;
  margin-right: 1.4rem; }

.text-column {
  /*font-size: 18px;*/
  font-size: 1.1rem;
  text-align: justify;
  line-height: 1.9;
  /*margin-top: 20px;*/
  margin-top: 1rem;
  margin-bottom: 1rem; }

.text-column-px {
  /*font-size: 1.1rem;*/
  font-size: 18px;
  text-align: justify;
  line-height: 1.9;
  /*margin-top: 20px;*/
  margin-top: 1rem;
  margin-bottom: 2.5rem; }

.legendCategory {
  font-size: 10px; }

.clusterLegend {
  font-size: 14px; }

rect {
  stroke-width: 2px;
  stroke: white; }

/* footer style */
.wide {
  background: #ebebeb;
  width: 100%;
  height: auto; }

/* tooltip style */
.tooltip {
  position: absolute;
  pointer-events: none;
  font-size: 12px;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid grey;
  padding: 8px;
  text-align: center; }

a.niceLink {
  color: #595959;
  background: lightgrey;
  font-weight: bold;
  padding: 1px 3px; }

.niceLink:hover {
  background: grey;
  color: white;
  text-decoration: none; }

.niceLink, .niceLink:visited {
  text-decoration: none; }
