@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Gaegu');

html {
  font-size: 100%;
	@media only screen and (max-device-width:480px) {
		font-size:120%;
 	}
}

body {
	font-family: 'Libre Franklin', serif;
	margin: 0;
}

h1 {
  font-family: 'Poppins', serif;
  font-weight: 700;
}

h2, h3 {
	font-family: 'Poppins', serif;
	font-weight: 600;
}

/* header style */
img.logo {
	max-width: 7rem;
}

.header {
	/*margin-top: 30px;
	margin-bottom: 20px;*/
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.footer {
  margin-top: 3rem;
}


/* title style */
h1 {
	/*font-size: 70px;*/
	font-size: 4.5rem;
	color: white;
	margin-bottom: 0
}

h3 {
	font-family: 'Gaegu', serif;
	/*font-size: 40px;*/
	margin-top: 2rem;
	margin-bottom: 1rem;
	font-size: 2.5rem;
	color: white;
}


.img-container {
	background-image: url("./../img/head.png");
	background-repeat: repeat-x;
}

.img-container-fullwidth {
	width: 100%;
	background-image: url("./../img/head.png");
	background-repeat: repeat-x;
}


/* content style */

.before-subtile {
	height: .7rem;
	width: 9rem;
	background-color:#ffec00;

	margin-top: 4rem;
}

h2 {
	/* font-size: 30px; */
	font-size: 2.2rem;
	margin-top: .1rem;
	margin-bottom: 1rem;
}

.wrapper {
	/* Firefox */
    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-align: center;

    /* Safari and Chrome */
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;

    /* W3C */
    display: box;
    box-pack: center;
    box-align: center;
}

.base-column {
	/*max-width: 600px;*/
	max-width: 40rem;

	/*margin-left: 25px;
	margin-right: 25px;*/
	margin-left: 1.4rem;
	margin-right: 1.4rem;
}

.text-column {
	/*font-size: 18px;*/

	font-size: 1.1rem;
	text-align: justify;
	line-height: 1.9;

	/*margin-top: 20px;*/
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.text-column-px {
	/*font-size: 1.1rem;*/
	font-size: 18px;
	text-align: justify;
	line-height: 1.9;

	/*margin-top: 20px;*/
	margin-top: 1rem;
	margin-bottom: 2.5rem;
}

.title-column{
	line-height: 1;
}

.legendCategory {
  font-size: 10px;
}

.clusterLegend {
  font-size: 14px;
}

rect {
  stroke-width: 2px;
  stroke: white;
}

/* footer style */

.wide {
    background:#ebebeb;
    width: 100%;
    height: auto;
}

/* tooltip style */
.tooltip {
	position: absolute;
	pointer-events: none;
	font-size: 12px;
	min-width: 80px;
	height: auto;
	background: none repeat scroll 0 0 #ffffff;
	border: 1px solid grey;
	padding: 8px;
	text-align: center;
}
