<div class="footer">

  <div class="wrapper wide">
    <div class="base-column text-column">

      <p>That was the story of <a class="niceLink" href="https://www.20questionstotheworld.com">20 questions to the world</a><p>
  		<p>Made by <a class="niceLink" href="https://emaulandi.github.io/">Edith Maulandi</a> |  <a class="niceLink" href="https://twitter.com/edithmaulandi">@edithmaulandi</a>  <i>(data cleaning, data analysis, dataviz design & implementation)</i> with the valuable help of Cyril, founder of 20 questions to the world.</p>
  		<p>Code is available on <a class="niceLink" href="https://github.com/emaulandi/20-questions-to-the-world-scrolly">github</a>
  		<p>With the tremendous help of <a class="niceLink" href="https://pudding.cool/">Pudding.cool</a> with <a class="niceLink" href="https://github.com/russellgoldenberg/enter-view">enter-view.js</a> and their <a class="niceLink" href="https://pudding.cool/2018/08/wiki-death/">Wiki Death</a> project making process made available to patrons. I did not watch all, but without it, this project would not exist !</p>
  		<p>And thanks to all great ressources out there that were ugely usefull to me, to learn a <a class="niceLink" href="https://docs.google.com/document/d/1W74ORPTZ1ZUSXYZ61EPo4CZo2xmwp7UOxuALeZlcH4c/edit?usp=sharing">whole new range of web stuff</a></p>
    </div>
  </div>

</div>
