<div class="header">
  
  <div class="wrapper">
    <img id="logo" class="logo">
  </div>

  <div class="title">
    <div class="wrapper img-container-fullwidth">
      <div class="base-column title-column">
          <h1>{{title}}</h1>
          <h3>{{subtitle}}</h3>
        </div>
      </div>
  </div>

</div>
