<div class="header">

  <div class="wrapper">
    <a href="https://www.20questionstotheworld.com/">
      <img id="logo" class="logo">
    </a>
  </div>


    <div class="title">

      <div class="wrapper">
        <div class="title-text">

          <div class="title-column">
            <h1>{{title}}</h1>
          </div>
          <div class="subtitle-column">
            <h3>{{subtitle}}</h3>
          </div>

        </div>



        <div class="fullscreen-bg2">
          <video id="video" poster="img/video-poster.jpg" loop muted autoplay class="video fullscreen-bg__video">
              <source src="img/rire.webm" type="video/webm">
          </video>
        </div>
      </div>

    </div>



  <!--
    <div class="wrapper img-container-fullwidth">
      <div class="base-column title-column">
          <h1>{{title}}</h1>
          <h3>{{subtitle}}</h3>
        </div>
      </div>
  </div>
  !-->

</div>
